* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(
    90deg,
    hsla(34, 40%, 76%, 0.5) 30%,
    hsla(155, 62%, 40%, 0.3)
  );
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
  padding-block: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: hsla(155, 62%, 40%, 0.8);
  font-size: clamp(1.5rem, 5vw, 3rem);
}

[data-testid="jobTitle"],
[data-testid="currentLocation"],
[data-testid="emailAddress"],
[data-testid="currentTimeUTC"] {
  color: rgb(113, 85, 49);
  font-weight: bold;
  font-size: 1rem;
}

[data-testid="currentTimeUTC"] > span {
  color: hsla(155, 62%, 40%, 0.8);
  font-weight: bold;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-image {
  width: 380px;
  aspect-ratio: 1/1;
}

.profile-image img {
  border-radius: 50%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.profile-image img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px 5px hsla(155, 62%, 40%, 0.3);
}

.social-links {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: start;
  max-width: 300px;
  padding: 10px;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: rgb(169, 36, 36);
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.social-links a img {
  width: 15px;
}

main {
  padding-block: 50px;
}

.social-links a:hover {
  background-color: hsla(155, 62%, 40%, 0.3);
  padding: 5px;
  color: white;
  font-size: 8px;
}

.short-bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.short-bio p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 740px) {
  header {
    flex-flow: column-reverse wrap;
    justify-content: center;
    gap: 20px;
  }
  footer {
    justify-content: center;
  }
  .profile-image {
    width: 80%;
  }
  .profile-image img {
    border-radius: 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .profile-info {
    text-align: center;
  }
}
