* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(
    to bottom,
    hsla(34, 40%, 76%, 0.5) 30%,
    hsla(155, 62%, 40%, 0.3)
  );
  min-height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 420px;
  width: 100%;
  margin-inline: auto;
  border: solid 2px hsla(32, 79%, 22%, 0.3);
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px hsla(155, 62%, 40%, 0.3);
}
header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  color: hsla(155, 62%, 40%, 0.8);
  font-size: clamp(1.5rem, 5vw, 1rem);
}

.profile {
  color: rgb(128, 45, 48);
  font-weight: bold;
  font-size: 0.8rem;
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main p {
  font-weight: semibold;
  font-size: 0.85rem;
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-image {
  max-width: 180px;
  aspect-ratio: 1/1;
}
.profile-image img {
  border-radius: 50%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.profile-image img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px 5px hsla(155, 62%, 40%, 0.3);
}
.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
}
.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(128, 45, 48);
  gap: 5px;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  color: rgb(128, 45, 48);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.social-links a img {
  width: 20px;
}
.social-links a:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px 5px hsla(155, 62%, 40%, 0.3);
}
.time {
  text-align: center;
  color: rgb(128, 45, 48);
  font-size: 0.8rem;
  font-weight: bold;
  margin-block: 15px;
}

@media screen and (max-width: 640px) {
  /* * {
    border: solid 2px hsla(32, 79%, 22%, 0.3);
  } */
  body {
    padding-inline: 10px;
  }
}
